<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<variable name="colors.delimiters.fg" value="DarkGray"/>
		<variable name="colors.numbers.fg" value="DarkCyan"/>
		<variable name="colors.time.elapsed.fg" value="Magenta"/>
		<variable name="colors.quoted.fg" value="White"/>
		<variable name="colors.glyph.error.fg" value="Red"/>
		<variable name="colors.glyph.cancel.fg" value="Yellow"/>
		<variable name="colors.glyph.not-ran.fg" value="Cyan"/>
		<variable name="colors.glyph.completed.fg" value="Green"/>
		<variable name="colors.symbol.fg" value="Magenta"/>

		<targets>
			<target name="drone.colored.console"
					xsi:type="ColoredConsole"
					useDefaultRowHighlightingRules="false"
					layout="${message}">

				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />

				<highlight-word regex="\(\d+(d|h|mn|s|ms|µs)\)" foregroundColor="${colors.time.elapsed.fg}" />
				<highlight-word regex="\(\d+(d|h|mn|s|ms|µs)\s\d+(d|h|mn|s|ms|µs)\)" foregroundColor="${colors.time.elapsed.fg}" />
				
				<highlight-word regex="\(" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\)" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\." foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\:" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\\" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="/" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="/" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="/" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\[" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\]" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\{" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\}" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\&gt;" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\&lt;" foregroundColor="${colors.delimiters.fg}" />

				<highlight-word regex="■" foregroundColor="${colors.glyph.error.fg}" />
				<highlight-word regex="√" foregroundColor="${colors.glyph.completed.fg}" />
				<highlight-word regex="≡" foregroundColor="${colors.glyph.not-ran.fg}" />
				<highlight-word regex="∙" foregroundColor="${colors.glyph.cancel.fg}" />

				<highlight-word regex="\'.+\'" foregroundColor="${colors.quoted.fg}" />
				<highlight-word regex="\&quot;.+\&quot;" foregroundColor="${colors.quoted.fg}" />

				<highlight-word regex="(│|─|└|┌|├)" foregroundColor="${colors.symbol.fg}" />
			</target>

			<target name="drone.task.colored.console"
					xsi:type="ColoredConsole"
					useDefaultRowHighlightingRules="false"
					layout="  ${message}">

				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />

				<highlight-word regex="\(\d+(d|h|mn|s|ms|µs)\)" foregroundColor="${colors.time.elapsed.fg}" />
				<highlight-word regex="\(\d+(d|h|mn|s|ms|µs)\s\d+(d|h|mn|s|ms|µs)\)" foregroundColor="${colors.time.elapsed.fg}" />
				
				<highlight-word regex="\(" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\)" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\." foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\:" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\\" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="/" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="/" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="/" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\[" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\]" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\{" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\}" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\&gt;" foregroundColor="${colors.delimiters.fg}" />
				<highlight-word regex="\&lt;" foregroundColor="${colors.delimiters.fg}" />

				<highlight-word regex="■" foregroundColor="${colors.glyph.error.fg}" />
				<highlight-word regex="√" foregroundColor="${colors.glyph.completed.fg}" />
				<highlight-word regex="≡" foregroundColor="${colors.glyph.not-ran.fg}" />
				<highlight-word regex="∙" foregroundColor="${colors.glyph.cancel.fg}" />

				<highlight-word regex="\'.+\'" foregroundColor="${colors.quoted.fg}" />
				<highlight-word regex="\&quot;.+\&quot;" foregroundColor="${colors.quoted.fg}" />

				<highlight-word regex="(│|─|└|┌|├)" foregroundColor="${colors.symbol.fg}" />
			</target>

			<target name="drone.error.file" 
					xsi:type="File" 
					filename="drone.errors.txt"
					layout="${longdate} ${logger} ${message}" />
		</targets>

		<rules>
			<logger name="drone" minLevel="Info" writeTo="drone.colored.console" />
			<logger name="drone.task.*" minLevel="Info" writeTo="drone.task.colored.console" />
			<logger name="*" minlevel="Error" writeTo="drone.error.file" />
		</rules>
	</nlog>
</configuration>

