<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target name="console"
					xsi:type="ColoredConsole"
					useDefaultRowHighlightingRules="false"
					layout="${message}">

				<highlight-row condition="level == LogLevel.Error" foregroundColor="DarkYellow" />

				<highlight-word regex="\d+d" foregroundColor="Magenta" />
				<highlight-word regex="\d+h" foregroundColor="Magenta" />
				<highlight-word regex="\d+s" foregroundColor="Magenta" />
				<highlight-word regex="\d+ms" foregroundColor="Magenta" />
				<highlight-word regex="\d+m" foregroundColor="Magenta" />
				<highlight-word regex="\'.+\'" foregroundColor="Cyan" />
				<highlight-word text="DRONE ERROR" foregroundColor="Red" />
				<highlight-word text="FAILED" foregroundColor="Yellow" />
				<highlight-word text="FINISHED" foregroundColor="Green" />
			</target>

			<target name="console-tasks"
					xsi:type="ColoredConsole"
					useDefaultRowHighlightingRules="false"
					layout="  ${message}">

				<highlight-word regex="\d+d" foregroundColor="Magenta" />
				<highlight-word regex="\d+h" foregroundColor="Magenta" />
				<highlight-word regex="\d+s" foregroundColor="Magenta" />
				<highlight-word regex="\d+ms" foregroundColor="Magenta" />
				<highlight-word regex="\d+m" foregroundColor="Magenta" />
				
			</target>
		</targets>

		<rules>
			<logger name="drone" writeTo="console" />
			<logger name="drone.task.*" writeTo="console-tasks" />
		</rules>
	</nlog>
</configuration>

